{% extends 'base.html' %} {% load static %} {% block content %}
<h1>Covid info</h1>
<div class="container">
<table class="table table-dark">
<thead>
<tr>
    <th scope="col">Country</th>
    <th scope="col">Slug</th>
    <th scope="col">New confirmed</th>
    <th scope="col">Total confirmed</th>
    <th scope="col">New deaths</th>
    <th scope="col">Total deaths</th>
    <th scope="col">New recovered</th>
    <th scope="col">Total recovered</th>
</tr>
</thead>
<tbody>
    <tr>
    {% for covid_item in covid19 %} 
        <td>{{ covid_item.country }}</td>
        <td>{{ covid_item.countrycode }}</td>
        <td>{{ covid_item.slug }}</td>
        <td>{{ covid_item.newconfirmed }}</td>
        <td>{{ covid_item.totalconfirmed }}</td>
        <td>{{ covid_item.totaldeaths }}</td>
        <td>{{ covid_item.newrecovered }}</td>
        <td>{{ covid_item.totalrecovered }}</td>
    </tr>
    {% endfor %} 
</tbody>
</table>
</div>


{% endblock %}
